body {
    background-image: url("../images/background.jpg");
    color: rgb(252, 186, 5);
    text-align: left;
    font-family:'Archivo Black', sans-serif;
}

.cover-heading{
    margin-top: 35px;
    font-size: 60px;
}

#game-start{
    margin-top: 80px;
    font-size: 40px;
}

#countdown {
    position: fixed;
    font-size: 24px;
    font-weight: bold;
    color:rgb(255, 10, 235);
}

#game-done {
    font-size: 40px;
}

.lead2 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(12, 52, 226);
}

.quest {
    font-size: 40px;
    font-weight: bold;
    color: rgb(12, 52, 226);
}

.text-mysize {
    font-size: 35px;
    font-weight: bold;
}
 