body {
    background-image: url("../images/background.jpg");
    color: rgb(12, 52, 226);
    text-align: left;
    font-family:'Archivo Black', sans-serif;
}

.cover-heading{
    margin-top: 35px;
    font-size: 60px;
}

#game-start{
    margin-top: 70px;
    font-size: 40px;
}

#countdown {
    font-size: 23px;
    font-weight: bold;
    color:rgb(255, 10, 10);
}

#game-done {
    font-size: 40px;
}

.lead2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(12, 52, 226);
}

.quest {
    font-size: 38px;
    font-weight: bold;
    color: rgb(12, 52, 226);
}

.text-mysize {
    font-size: 34px;
    font-weight: bold;
}
 